* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
}

.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.flashcards div {
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 7px;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-family: monospace;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

.flashcards > div {
  width: 22rem;
  margin: auto;
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el fondo */
  background-position: center; /* Centra la imagen en la tarjeta */
}

div.selected {
  border: 2px solid red;
  color: red;
}
